<header class="headerHoro">
    <div>
        <img id="icon" style="vertical-align: middle;" src="/assets/dragon_icon.jpg" width="100" height="100">
        <a id="name">GiveLove</a>
        <form id="exit" action='/exit' method="post">
            <input type="submit" value="Выход">
        </form>
    </div>
    <div class="map">
        <a href="/users">Список пользователей</a>
        <a href="/horoscope">Гороскоп</a>
        <a href="/profile">Личный профиль</a>
    </div>
</header>