<section id="sidebar">
    <ul id="ul">
        <li class="li">
            <a href="/aries">Овен</a>
        </li>
        <li class="li">
            <a href="/taurus">Телец</a>
        </li>
        <li class="li">
            <a href="/gemini">Близнецы</a>
        </li>
        <li class="li">
            <a href="/canser">Рак</a>
        </li>
        <li class="li">
            <a href="/leo">Лев</a>
        </li>
        <li class="li">
            <a href="/virgo">Дева</a>
        </li>
        <li class="li">
            <a href="/libra">Весы</a>
        </li>
        <li class="li">
            <a href="/scorpio">Скорпион</a>
        </li>
        <li class="li">
            <a href="/sagittarius">Стрелец</a>
        </li>
        <li class="li">
            <a href="/capricorn">Козерог</a>
        </li>
        <li class="li">
            <a href="/aquarius">Водолей</a>
        </li>
        <li class="li">
            <a href="/pisces">Рыбы</a>
        </li>
    </ul>
</section>