<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>О нас</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <%if (b){%>
        <%- include('blocks/header') -%>
            <%}else{%>
                <%- include('blocks/headernologin') -%>
                    <%}%>
                        <main>
                            <div class="infodiv">
                                <div>
                                    <img src="/assets/dragon_icon.jpg" width="80" height="80">
                                    <img src="/assets/LogoNRV.jfif" width="80" height="80">
                                </div>
                                <div>
                                    <span class="block">Добро пожаловать в мир GiveLove от NRVsoft – твоего нового путеводителя в мире знакомств! GiveLove – это не просто приложение, это твой персональный космос для встреч, где каждый момент наполнен возможностью влюбиться.</span>
                                    <span class="block">Что делает GiveLove особенным? Наш секрет – в астрологии. Мы добавили звездные нотки к процессу знакомства, чтобы каждая встреча стала по-настоящему уникальной. Забудь о поверхностных знакомствах – у нас каждое соединение освещено светом звезды, создавая особенную атмосферу.</span>
                                    <span class="block">GiveLove – это не только технологии, но и стиль жизни. Мы предлагаем удобство и простоту использования, но при этом добавляем в каждое приложение немного волшебства. Тут нет места обыденности – только волнующие знакомства, где ты можешь быть самим собой.</span>
                                    <span class="block">Присоединяйтесь к нашему путешествию – мы не просто предлагаем продукт, мы предлагаем вам быть частью движения, где каждое сердце находит свою долю счастья. NRVsoft и GiveLove – это не просто компания и приложение, это стиль жизни, наполненный страстью к инновациям и верой в волшебство любви. Встречайте свое будущее с нами!</span>
                                </div>
                            </div>
                        </main>
</body>
<%- include('blocks/footer') -%>

</html>